<div>
  <h4>회원가입</h4>
</div>
</div>
<form th:action="@{/user/create}" th:object="${userCreateForm}" method="post">

  <div class="mb-3">
    <label for="email" class="form-label">이메일Id</label>
    <input type="email" th:field="*{email}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">비밀번호</label>
    <input type="password" th:field="*{password1}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">비밀번호 확인</label>
    <input type="password" th:field="*{password2}" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">회원가입</button>
</form>
</div>